/frontend/node_modules/*
/frontend/src/types/security*
/backend/src/types/security*
/backend/node_modules/*
/backend/.env
/frontend/.env.local
/frontend/.env.production
/frontend/.next/
/frontend/.wrangler/
/frontend/.open-next/
/frontend/src/data/hooks.ts
/frontend/src/data/
/frontend/wrangler.toml
*.wangler
*.wrangler.ignore